body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
}

nav > ul > li > button,
[data-credit] {
  font-size: 1rem;
  letter-spacing: 1px;
}
li {
  margin-block: 10px;
}

/*Headers Size */
h1 {
  font-size: 1.875rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}




h2 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5rem;
  }
}



h3 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}



h4 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h4 {
    font-size: 1.5rem;
  }
}





/*Headers Size */




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
 font-family: 'Roboto', sans-serif;
  font-weight: semibold;
  letter-spacing: -0.020rem;
}

.label-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  nav {
    max-width: 15rem;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: 250ms ease-in-out;
    z-index: 15;
  }

  nav.isActive {
    transform: translateX(0);
    will-change: opacity, box-shadow;
    opacity: 1;
    box-shadow: 13px 0px 24px 7px rgba(0, 0, 0, 0.1);
    transition: transform 200ms opacity 3000s ease-in-out;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    background-color: orange;
    width: 100%;
  
  }
}

[data-navbar-dropdown-menu] {
  visibility: hidden;
  background-color: orange;
  height: 0rem;
}
[data-navbar-dropdown-menu].isActive {
  visibility: visible;
  height: auto;
  transition: all 250ms;
}
@media screen and (min-width: 1024px) {
  [data-navbar-dropdown-menu].isActive {
    visibility: visible;
    height: auto;
    transition: all 250ms;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10rem;
    top: 5rem;
  }
}
[data-navbar-dropdown-angle] {
  transform: rotate(0deg);
}
[data-navbar-dropdown-angle].isActive {
  transform: rotate(180deg);
}

.search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 181, 150, 0.144);
  display: none;
}

.search-container.isActive {
  display: flex;
}
.search-container__input,
.search-container__results {
  width: 100%;
  background-color: rgba(6, 13, 15, 0.338);
}

.search-container__input {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container__results {
  height: auto;
  overflow-y: scroll;
}

.search-container__input-wrapper {
  position: relative;
}
#search-input {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

[data-close-search] {
  width: 2rem;
  height: 2rem;
}
[data-clear-search] {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  .search-container__input-wrapper {
    border-radius: 20px;
    max-width: 70%;
    width: 100%;
  }

  #search-input {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .search-container__input-wrapper {
    border-radius: 20px;
    max-width: 60%;
    width: 100%;
  }

  #search-input {
    padding: 10px;
  }
}

[data-profile-modal-secondary] {
  display: none;
}
[data-profile-modal-secondary].isActive {
  display: flex;
}

[data-avatar-overlay] {
  opacity: 0;
  visibility: hidden;
}

[data-avatar-overlay].isActive {
  opacity: 1;
  visibility: visible;
}

/*================== Color changes================== */
header.modalOpen {
  background-color: rgba(0, 0, 0, 0.881);
  transition: 250ms ease-in-out;
}

header.modalClosed {
  opacity: 1;
  background-color: rgba(143, 181, 150, 0.105);
  transition: 250ms ease-in-out;
}

/*================== Color changes================== */
