body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
}

nav > ul > li > button,
[data-credit] {
  font-size: 1rem;
  letter-spacing: 1px;
}
li {
  margin-block: 10px;
}

/*Headers Size */
h1 {
  font-size: 1.875rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}




h2 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5rem;
  }
}



h3 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}



h4 {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.335rem;
  }
}
@media screen and (min-width: 1024px) {
  h4 {
    font-size: 1.5rem;
  }
}





/*Headers Size */




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
 font-family: 'Roboto', sans-serif;
  font-weight: semibold;
  letter-spacing: -0.020rem;
}

.label-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
