@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --text-white: hsl(0, 0%, 95%);
  --text-black: hsl(0, 0%, 8%);
  --light-background: hsl(0, 0%, 95%);
  --light-secondary: hsl(0, 0%, 100%);
  --light-accent: hsl(260, 100%, 66%);
  --light-special: hsl(52, 100%, 75%);
  --dark-background: hsl(0, 0%, 8%);
  --dark-secondary: hsla(0, 0%, 15%, 0);
  --dark-accent: hsl(260, 100%, 66%);
  --dark-special: hsl(180, 46%, 56%);
} */

svg {
  fill: var(--color-background);
}

@layer base {
  :root {
    --color-background: 0, 0%, 95%;
    --color-secondary: 0, 0%, 100%;
    --color-accent: 210, 100%, 60%;
    --color-special: 52, 100%, 75%;
    --color-text: 0, 0%, 8%;
    --color-text-special: 52, 100%, 75%;
  }

  :root[data-theme="dark"] {
    --color-background: 0, 0%, 8%;
    --color-secondary: 0, 0%, 11%;
    --color-accent: 260, 100%, 66%;
    --color-special: 180, 46%, 56%;
    --color-text: 0, 0%, 100%;
    --color-text-special: 180, 46%, 56%;
  }
}

@layer components {
  .cta-btn-sm {
    width: 7.5rem;
    height: 2.1875rem;
    padding: 8px 20px 9px 21px;
    border-radius: 5px;
    
  }

  .cta-btn-md {
    display: flex;
width: 8.75rem;
height: 2.5rem;
padding: 11px 30px 11px 31px;

  }
  .cta-btn-lg {

width: 9.375rem;
height: 2.8125rem;
padding: 13px 36px 14px 35px;

  }
}